body {
margin: 0;
margin-top: 0;
text-align: center;
font-family: 'Questrial', sans-serif;
}

h1 {
margin-top: 50px;
font-family: 'Sacramento', cursive;
font-size: 437%;
color: #F47C7C;
line-height: 2;
}

h2 {
font-size: 1.5rem;
color: #F47C7C;
font-weight: normal;
}

h3 {
color: #F47C7C;
}

.desc {
color: #EF9F9F;
}

.top-container {
background-color: #FFF2F2;
position: relative;
padding-top: 100px;
}

.middle-container {
margin-top: 50px;
}

.bottom-cloud {
position: absolute;
left: 300px;
bottom: 400px;
}

.top-cloud {
position: absolute;
right: 250px;
top: 50px;
}

.mountain {
padding: 50px;
}

.science {
width: 75px;
height: 75px;
float: left;
margin-right: 30px;
}

.dance {
width: 75px;
height: 75px;
float: right;
margin-left: 30px;
}

.profile-img {
width: 150px;
height: 150px;
}

.skill-row {
position: inline-block;
width: 50%;
margin: 50px auto 50px auto;
text-align: left;
line-height: 2;
}

.dot-separator {
border-top: dotted 7px;
border-color: #EF9F9F;
width: 5%;
position: relative;
margin: auto;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #f47c7c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.contact-me {
margin: 20px auto 20px auto;
}

.bottom-container {
background-color: #FAD4D4;
margin: 0px;
padding-top: 40px;
padding-bottom: 30px;
}

.footer-link {
text-decoration: none;
color: #F47C7C;
font-size: 16px;
}